.header {
  padding: 20px 30px;
}

.menu_list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.menu_item {
  position: relative;
  padding-bottom: 5px;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: #283655;
  text-transform: capitalize;
  text-decoration: none;
}

.menu_item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #283655;
  transition: 0.3s all ease;
}

.menu_item.active::after {
  width: 100%;
}

.menu_item:hover::after,
.menu_item:focus::after {
    width: 100%;
}