body {
    background-color: rgba(210, 226, 249, 0.6);
}

.relative {
    position: relative;
}

section {
    padding: 30px 0;
}

.container {
    max-width: 980px;
    padding: 0 50px;
    margin: 0 auto;
}

.container_extra {
    position: absolute;
    top: 0;
    right: 30px;
    max-width: 400px;
    padding: 30px;
    background: linear-gradient(133deg, rgba(114,158,223,1) 27%, rgba(127,150,218,1) 68%, rgba(146,138,210,1) 85%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}


.container_extra h1 {
    margin-top: 0;
}

.list {
    list-style: none;
    padding-left: 0;
    max-width: 600px;
    margin: 0 auto;
}

.list li {
    font-size: 18px;
}

.center {
    display: flex;
    text-align: center;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 0 auto;
}

.descr {
    text-align: center;
    font-size: 18px;
}

.title + .descr {
    margin-top: 30px;
}

.form_wrapper {
    position: relative;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(210, 226, 249, 0.6);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-image: url(/assets/bg.png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

.form_wrapper h1 {
    margin-top: 0;
}
